# Ignorar arquivos de compilação (Java)
target/
build/
out/
*.class
*.jar
*.war
architecture.md
docker-compose.yml

# Ignorar arquivos da IDE (IntelliJ)
.idea/
*.iml
*.iws
*.ipr
.claude

# Ignorar arquivos de sistema e logs
.DS_Store
Thumbs.db
*.log

# SEGURANÇA
.env
secret.key
config.properties